#root {
  width: 100vw;
  justify-items: center;
}

body {
  background: url('/wood.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: Arial, sans-serif;
  color: black;
}

.navbar {
  width: 100%;
  margin-bottom: .5rem;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.496);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
}

.link {
  color: white;
  font-weight: normal;
}

.link.active {
  font-weight: bold;
}
